Unity/CreateAndorid/Library
Unity/CreateAndorid/Library/
Unity/CreateAndorid/Logs
Unity/CreateAndorid/Logs/
Unity/CreateAndorid/obj
Unity/CreateAndorid/obj/
Unity/CreateAndorid/Temp
Unity/CreateAndorid/Temp/
Unity/CreateAndorid/UserSettings
Unity/CreateAndorid/UserSettings/

Unity/CreateIOS/Library
Unity/CreateIOS/Library/
Unity/CreateIOS/Logs
Unity/CreateIOS/Logs/
Unity/CreateIOS/obj
Unity/CreateIOS/obj/
Unity/CreateIOS/Temp
Unity/CreateIOS/Temp/
Unity/CreateIOS/UserSettings
Unity/CreateIOS/UserSettings/

